Repository TrpFrog/trpfrog.net: changes, and which lefthook commands are due for each by the changed paths.
All: 1_prettier, 2_eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    1_prettier:
      glob: "*.{js,ts,jsx,tsx,css,scss,md,json}"
      run: npx prettier --ignore-unknown --write {staged_files} && git update-index --again
    2_eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint -c .eslintrc.json --max-warnings=0  --fix {staged_files} && git update-index --again
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Add OpenAI API key explicitly
  apps/trpfrog.net/src/app/fuzzy/[input]/route.ts
Due: 1_prettier, 2_eslint

Remove unnecessary console.log
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
Due: 1_prettier, 2_eslint

Update langchain
  apps/image-generation/package.json
  apps/trpfrog.net/package.json
  pnpm-lock.yaml
Due: 1_prettier

Update deps
  apps/trpfrog.net/package.json
  package.json
  pnpm-lock.yaml
Due: 1_prettier

Use vercel AI SDK instead of langchain
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/app/fuzzy/[input]/route.ts
  apps/trpfrog.net/src/lib/ai.ts
  pnpm-lock.yaml
Due: 1_prettier, 2_eslint

Remove forwardRef
  apps/trpfrog.net/src/components/atoms/AnglePicker/index.tsx
  apps/trpfrog.net/src/components/atoms/PlainBlock.tsx
  apps/trpfrog.net/src/components/molecules/Block/index.tsx
  apps/trpfrog.net/src/components/wrappers/A.tsx
  apps/trpfrog.net/src/components/wrappers/H2.tsx
  apps/trpfrog.net/src/components/wrappers/HorizontalRule.tsx
  apps/trpfrog.net/src/components/wrappers/Input.tsx
  apps/trpfrog.net/src/components/wrappers/Kbd.tsx
  apps/trpfrog.net/src/components/wrappers/Table.tsx
  apps/trpfrog.net/src/components/wrappers/headings.tsx
  apps/trpfrog.net/src/components/wrappers/list.tsx
Due: 1_prettier, 2_eslint

Update googleFonts.ts
  apps/trpfrog.net/src/lib/googleFonts.ts
Due: 1_prettier, 2_eslint

LoadingPropsContext.Provider => LoadingPropsContext
  apps/trpfrog.net/src/lib/wordSplit/index.tsx
Due: 1_prettier, 2_eslint

Fix type error
  apps/trpfrog.net/src/app/blog/_renderer/rendererProperties.tsx
  apps/trpfrog.net/src/components/wrappers/list.tsx
Due: 1_prettier, 2_eslint

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Tweak blog design
  apps/trpfrog.net/src/app/globals.css
  apps/trpfrog.net/src/components/atoms/Alert/index.module.scss
Due: 1_prettier

Disable reactCompiler temporarily
  apps/trpfrog.net/next.config.js
Due: 1_prettier, 2_eslint

Enable mdxRs
  apps/trpfrog.net/next.config.js
Due: 1_prettier, 2_eslint

Revert "Disable reactCompiler temporarily"
  apps/trpfrog.net/next.config.js
Due: 1_prettier, 2_eslint

Stop using microCMS API Key in @trpfrog.net/posts
  apps/trpfrog.net/src/app/blog/preview/[...slug]/page.tsx
  packages/posts/src/preview/index.ts
  packages/posts/src/utils/microCMS.ts
Due: 1_prettier, 2_eslint

Remove redundant code
  apps/trpfrog.net/src/app/blog/_components/article-parts/ProfileCards/index.tsx
  packages/constants/endpoints.ts
Due: 1_prettier, 2_eslint

Apply budoux to OGP images
  apps/image-generation/package.json
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/app/api/[[...route]]/_routes/budoux.ts
  apps/trpfrog.net/src/app/api/[[...route]]/route.ts
  apps/trpfrog.net/src/app/blog/[slug]/og-image/route.tsx
  apps/trpfrog.net/src/app/blog/_components/ArticleHeader/index.tsx
  apps/trpfrog.net/src/lib/wordSplit/client.tsx
  apps/trpfrog.net/src/lib/wordSplit/common.tsx
  apps/trpfrog.net/src/lib/wordSplit/server.tsx
  apps/trpfrog.net/src/lib/wordSplit/wordSplit.tsx
  pnpm-lock.yaml
Due: 1_prettier, 2_eslint

Tweak print design
  apps/trpfrog.net/src/app/blog/_renderer/DevBlogMarkdown/ImageDragAndDrop.tsx
  apps/trpfrog.net/src/components/organisms/Header/Header.tsx
  apps/trpfrog.net/src/components/organisms/MobileMenu/MobileMenu.tsx
Due: 1_prettier, 2_eslint

Add article chatgpt-plus
  posts/chatgpt-plus.md
Due: 1_prettier

Add @trpfrog.net/config-eslint
  .eslintrc.json
  apps/dev-blog-server/eslint.config.mjs
  apps/dev-blog-server/package.json
  apps/image-generation/eslint.config.mjs
  apps/image-generation/package.json
  apps/trpfrog.net/eslint.config.mjs
  apps/trpfrog.net/package.json
  package.json
  packages/config-eslint/base.mjs
  packages/config-eslint/index.mjs
  packages/config-eslint/lib/next-core-web-vitals.mjs
  packages/config-eslint/next.mjs
  packages/config-eslint/package.json
  packages/config-eslint/react.mjs
  packages/constants/eslint.config.mjs
  packages/constants/package.json
  packages/posts/eslint.config.mjs
  packages/posts/package.json
  packages/storybook-theme/eslint.config.mjs
  packages/storybook-theme/package.json
  packages/utils/eslint.config.mjs
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Due: 1_prettier

Add name attr
  packages/config-eslint/base.mjs
  packages/config-eslint/lib/next-core-web-vitals.mjs
  packages/config-eslint/next.mjs
  packages/config-eslint/react.mjs
Due: none

Add name attr (eslint.config.mjs in trpfrog.net)
  apps/trpfrog.net/eslint.config.mjs
Due: none

next.config.js => next.config.mjs
  apps/trpfrog.net/next.config.mjs
Due: none

Update deps
  apps/trpfrog.net/eslint.config.mjs
  apps/trpfrog.net/package.json
  package.json
  packages/config-eslint/package.json
  pnpm-lock.yaml
Due: 1_prettier

Fix the issue where Next.js cannot be linted
  packages/config-eslint/lib/next-core-web-vitals.mjs
Due: none

Customize @typescript-eslint/no-unused-vars rule
  packages/config-eslint/base.mjs
Due: none

Install globals for eslint
  packages/config-eslint/base.mjs
  packages/config-eslint/package.json
  pnpm-lock.yaml
Due: 1_prettier

Update lefthook.yml to use eslint flat config
  lefthook.yml
Due: none

Update deps
  package.json
  packages/config-eslint/package.json
  pnpm-lock.yaml
Due: 1_prettier

Add run-eslint-from-filename.mjs to make lefthook work with flat config
  lefthook.yml
  run-eslint-from-filename.mjs
Due: none

Install webpack to resolve build error
  apps/trpfrog.net/package.json
  pnpm-lock.yaml
Due: 1_prettier

Use nodejs as the middleware runtime
  apps/trpfrog.net/src/middleware.ts
Due: 1_prettier, 2_eslint

Fix type error and dayjs => date-fns
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/app/tweets/tweetSearcher.ts
  pnpm-lock.yaml
Due: 1_prettier, 2_eslint

Fix type error
  apps/trpfrog.net/src/app/tweets/TweetArea/index.tsx
  apps/trpfrog.net/src/app/tweets/page.tsx
Due: 1_prettier, 2_eslint

Update deps
  apps/image-generation/package.json
  apps/trpfrog.net/package.json
  package.json
  packages/config-eslint/package.json
  packages/posts/package.json
  packages/storybook-theme/package.json
  pnpm-lock.yaml
Due: 1_prettier

Add loading skeleton
  apps/trpfrog.net/src/app/loading.tsx
Due: 1_prettier, 2_eslint

Change fuzzy model to gpt-4o-mini
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/app/fuzzy/[input]/route.ts
  pnpm-lock.yaml
Due: 1_prettier, 2_eslint
