Repository TrpFrog/trpfrog.net: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,jsx,tsx,css,scss,md,json}"
      run: npx prettier --ignore-unknown --write {staged_files} && git update-index --again
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: node run-eslint-from-filename.mjs {staged_files} && git update-index --again

chore(lint): add raw regex warnings and tighten update types
  apps/image-generation/src/usecases/refreshImageIfStaleUseCase.ts
  apps/image-generation/src/usecases/shouldUpdateUseCase.ts
  apps/trpfrog.net/src/app/ai-icons/IconRecord.tsx
  packages/config-oxlint/base.json
  packages/config-oxlint/js-plugins/eslint-core.cjs
Due: prettier, eslint

chore: install vercel-labs/skills
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: migrate project skills to /skills
  .codex/skills/commit-conventions/agents/openai.yaml
  .gitignore
  skills/commit-conventions/SKILL.md
Due: prettier

chore: add skills-lock.json to manage skill dependencies
  skills-lock.json
Due: prettier

chore: remove obsolete rule files for project guidelines
  .cursor/rules/apps--trpfrog-net.mdc
  .cursor/rules/apps-typescript.mdc
  .cursor/rules/react-next.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/whole-rules.mdc
Due: none

chore: add install-skills script
  package.json
Due: prettier

test(vite-plus): rewrite .test.ts imports
  apps/image-generation/src/controller/index.test.ts
  apps/image-generation/src/domain/services/getRefreshedImageUpdateStatus.test.ts
  apps/image-generation/src/index.test.ts
  apps/image-generation/src/infra/repos/mocks/imageMetadataRepoMock.ts
  apps/image-generation/src/infra/repos/mocks/imageStoreRepoMock.ts
  apps/image-generation/src/usecases/generateImageUseCase.test.ts
  apps/image-generation/src/usecases/generatePromptFromWordsUseCase.test.ts
  apps/image-generation/src/usecases/refreshImageIfStaleUseCase.test.ts
  apps/image-generation/src/usecases/shouldUpdateUseCase.test.ts
  apps/image-generation/src/usecases/uploadNewImageUseCase.test.ts
  apps/trpfrog.net/src/app/(home)/_components/TrpFrogAnimation/RotateButton.test.tsx
  apps/trpfrog.net/src/app/(home)/_components/TrpFrogAnimation/useRpmCalculation.test.ts
  apps/trpfrog.net/src/components/atoms/Alert/index.test.tsx
  apps/trpfrog.net/src/components/atoms/Details/index.test.tsx
  apps/trpfrog.net/src/components/atoms/FoggedDiv/index.test.tsx
  apps/trpfrog.net/src/components/atoms/Talk/index.test.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TweetTextarea/index.test.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TwitterIcon/index.test.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TwitterImage/index.test.tsx
  apps/trpfrog.net/src/components/molecules/CodeBlock/index.test.tsx
  apps/trpfrog.net/src/components/molecules/ShowAll/index.test.tsx
  apps/trpfrog.net/src/components/molecules/TwitterHeader/index.test.tsx
  apps/trpfrog.net/src/components/organisms/TwitterArchived/index.test.tsx
  apps/trpfrog.net/src/lib/date.test.ts
  apps/trpfrog.net/src/lib/queue.test.ts
  apps/trpfrog.net/src/markdown/code-block-components/definitions/conversation/parse.test.ts
  packages/utils/src/defineEndpoints.test.ts
  packages/utils/src/deps-resolver.test.ts
  packages/utils/src/object.test.ts
  packages/utils/src/wire.test.ts
Due: prettier, eslint

fix(lint): satisfy tsx unused-vars rules
  apps/trpfrog.net/src/components/atoms/Alert/index.tsx
  apps/trpfrog.net/src/components/atoms/RichButton/index.tsx
  apps/trpfrog.net/src/components/organisms/LinkCard/LinkCard.tsx
  apps/trpfrog.net/src/components/organisms/LinkCard/ServerStreamLinkCard.tsx
  apps/trpfrog.net/src/markdown/RenderMarkdown/createMDXComponents.tsx
  apps/trpfrog.net/src/mdx-components.tsx
Due: prettier, eslint

docs(readme): reflect Vite+ migration
  README.md
Due: prettier

chore: update vite+
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(ci): run workflow with vp test on Node 24
  .github/workflows/node.js.yml
  apps/admin/src/types/assets.d.ts
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/types/assets.d.ts
  apps/trpfrog.net/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

chore(ci): use setup-vp in workflow
  .github/workflows/node.js.yml
Due: none

fix(ci): format generated worker types after typegen
  apps/content-server/bin/add-export-to-worker-conf.sh
  apps/image-generation/bin/add-export-to-worker-conf.sh
Due: none

chore: update Next.js dependencies to version 16.2.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: update turbo dependency to version 2.8.20
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update Next.js dependencies to version 16.2.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none
