Repository TrpFrog/trpfrog.net: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --ignore-unknown --write {staged_files} && git update-index --again

eslint:
  run: node run-eslint-from-filename.mjs {staged_files} && git update-index --again

feat(dev-blog-server): replace socket.io with Server-Sent Events
  apps/dev-blog-server/client.ts
  apps/dev-blog-server/dev-server.ts
  apps/dev-blog-server/package.json
  apps/dev-blog-server/src/dev-server.ts
  apps/dev-blog-server/src/routes/watch-post/index.ts
  apps/dev-blog-server/src/routes/watch-post/post-updates.ts
  apps/dev-blog-server/src/routes/watch-post/watch-posts.ts
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/hooks/useDevServerRenderedBlog.tsx
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

refactor(dev-blog-server):support multiple update handlers
  apps/dev-blog-server/client.ts
Due: prettier, eslint

chore: remove socket.io from pnpm-workspace.yaml
  README.md
  pnpm-workspace.yaml
Due: prettier

feat: migrate image upload and alt text generation features to dev-blog-server
  apps/dev-blog-server/client.ts
  apps/dev-blog-server/package.json
  apps/dev-blog-server/src/dev-server.ts
  apps/dev-blog-server/src/env.ts
  apps/dev-blog-server/src/routes/generate-alt-text/generator.ts
  apps/dev-blog-server/src/routes/generate-alt-text/index.ts
  apps/dev-blog-server/src/routes/upload-image/cloudinary.ts
  apps/dev-blog-server/src/routes/upload-image/index.ts
  apps/dev-blog-server/src/routes/upload-image/upload-to-cloudinary.ts
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/ImageDragAndDrop.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/hooks/useImageUploadUsecase.ts
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/hooks/useImageUploader.ts
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/hooks/useUploadFunction.tsx
  pnpm-lock.yaml
Due: prettier, eslint

chore: update cloudinary package to version 2.8.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: refactor uploadToCloudinary function to use fetch API and improve error handling
  apps/dev-blog-server/src/routes/upload-image/upload-to-cloudinary.ts
Due: prettier, eslint

refactor(posts): centralize post path helpers
  apps/dev-blog-server/package.json
  apps/dev-blog-server/src/routes/watch-post/index.ts
  apps/dev-blog-server/src/routes/watch-post/watch-posts.ts
  apps/trpfrog.net/src/app/blog/_components/EditButton.tsx
  packages/posts/src/core/index.ts
  packages/posts/src/core/paths.ts
  packages/posts/src/fs/index.ts
  pnpm-lock.yaml
Due: prettier, eslint

feat(dev-blog): append uploaded image markdown to post files
  apps/dev-blog-server/src/dev-server.ts
  apps/dev-blog-server/src/routes/edit/index.ts
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/ImageDragAndDrop.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/hooks/useImageUploader.ts
Due: prettier, eslint

fix: update alt text character length requirement to 50 - 100 characters
  apps/dev-blog-server/src/routes/generate-alt-text/generator.ts
Due: prettier, eslint

feat(dev-blog-server): add tweet block generation endpoint
  apps/dev-blog-server/package.json
  apps/dev-blog-server/src/dev-server.ts
  apps/dev-blog-server/src/routes/create-tweet-block/index.ts
  pnpm-lock.yaml
Due: prettier, eslint

feat(ui): add writing tools panel for dev blog markdown
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/DevBlogMarkdown.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/ImageDragAndDrop.module.css
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/ImageDragAndDrop.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/hooks/use-image-drag-and-drop.ts
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/image-uploader-section.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/index.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/twitter-card-section.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/use-twitter-block-generator.ts
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/writing-tools-output.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/writing-tools-panel.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/writing-tools-section.tsx
Due: prettier, eslint

refactor(dev-blog-server): share tweet block logic for route and tool
  apps/dev-blog-server/package.json
  apps/dev-blog-server/src/routes/create-tweet-block/index.ts
  apps/dev-blog-server/src/routes/create-tweet-block/lib.ts
  apps/dev-blog-server/tools/create-tweet-block.ts
  pnpm-lock.yaml
Due: prettier, eslint

feat(writing-tools): add server-clipboard tweet generation path
  apps/dev-blog-server/src/routes/create-tweet-block/index.ts
  apps/dev-blog-server/tools/create-tweet-block.ts
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/index.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/twitter-card-section.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/use-twitter-block-generator.ts
Due: prettier, eslint

style(image-uploader): update border styles and remove redundant title
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/image-uploader-section.tsx
Due: prettier, eslint

chore: update Next.js and related packages to version 16.1.1
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: omit turbopack flags from dev and build scripts in package.json
  apps/admin/package.json
  apps/trpfrog.net/package.json
Due: prettier

publish: recap2025
  posts/recap2025.md
Due: prettier

chore: reorder imports
  apps/dev-blog-server/src/dev-server.ts
Due: prettier, eslint

perf(posts): convert synchronous file operations to asynchronous promises
  packages/posts/src/fs/index.ts
Due: prettier, eslint

feat(dev-blog-server): add ssg assets route for blog content
  apps/dev-blog-server/package.json
  apps/dev-blog-server/src/dev-server.ts
  apps/dev-blog-server/src/routes/ssg-assets/index.ts
Due: prettier, eslint

refactor(content-server): use dev-blog-server SSG assets client
  apps/content-server/package.json
  apps/content-server/src/alpha-router.ts
  apps/content-server/src/ssg.ts
  pnpm-lock.yaml
Due: prettier, eslint

fix(content): expose hidden slugs in dev ssg assets
  apps/content-server/src/alpha-router.ts
  apps/dev-blog-server/package.json
  apps/dev-blog-server/src/routes/ssg-assets/index.ts
Due: prettier, eslint

feat(blog): move blog rendering to SSR with content-server
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.test.tsx
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
  apps/trpfrog.net/src/app/blog/[slug]/layout.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/actions/renderBlog.tsx
  apps/trpfrog.net/src/app/blog/rpc.ts
Due: prettier, eslint

chore(content-server): set dev source strategy env config
  apps/content-server/package.json
  apps/content-server/src/env.ts
Due: prettier, eslint

refactor(content-server): split asset client from ssg route
  apps/content-server/src/alpha-router.ts
  apps/content-server/src/asset-client.ts
  apps/content-server/src/ssg.ts
Due: prettier, eslint

fix(content-server): read dev vars from wrangler context
  apps/content-server/package.json
  apps/content-server/src/asset-client.ts
  apps/content-server/src/env.ts
  apps/content-server/src/index.ts
  apps/content-server/worker-configuration.d.ts
  apps/content-server/wrangler.toml
Due: prettier, eslint

feat: adopt cache components and cacheLife profiles
  apps/admin/src/app/blog/actions.ts
  apps/trpfrog.net/next.config.ts
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
  apps/trpfrog.net/src/app/blog/[slug]/layout.tsx
  apps/trpfrog.net/src/app/blog/page.tsx
  apps/trpfrog.net/src/app/blog/rpc.ts
  apps/trpfrog.net/src/components/organisms/LinkCard/ServerStreamLinkCard.tsx
Due: prettier, eslint

Hide header subtitle on homepage
  apps/trpfrog.net/src/components/organisms/Header/useHeaderStatus.ts
Due: prettier, eslint

chore: update prettier and related plugins to latest versions
  apps/admin/src/app/ai-icons/AllImages.tsx
  apps/trpfrog.net/src/app/blog/[slug]/og-image/route.tsx
  apps/trpfrog.net/src/components/atoms/Image.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

feat: add Oxlint configuration and integrate with existing projects
  .vscode/settings.json
  apps/admin/.oxlintrc.json
  apps/content-server/.oxlintrc.json
  apps/dev-blog-server/.oxlintrc.json
  apps/image-generation/.oxlintrc.json
  apps/trpfrog.net/.oxlintrc.json
  package.json
  packages/config-eslint/.oxlintrc.json
  packages/config-oxlint/.oxlintrc.json
  packages/config-oxlint/README.md
  packages/config-oxlint/base.json
  packages/config-oxlint/next.json
  packages/config-oxlint/package.json
  packages/config-oxlint/react.json
  packages/config-typescript/.oxlintrc.json
  packages/config-vitest/.oxlintrc.json
  packages/constants/.oxlintrc.json
  packages/posts/.oxlintrc.json
  packages/storybook-theme/.oxlintrc.json
  packages/template/.oxlintrc.json
  packages/utils/.oxlintrc.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: remove baseUrl from tsconfig
  apps/admin/tsconfig.json
  apps/trpfrog.net/tsconfig.json
Due: prettier

fix: remove redundant type
  apps/trpfrog.net/src/app/blog/_components/TogglePageViewLink.tsx
Due: prettier, eslint

chore(oxlint): ignore storybook
  packages/config-oxlint/base.json
Due: prettier

chore: use oxfmt
  .oxfmtrc.json
  .prettierignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
Due: prettier, eslint

chore: format with oxfmt
  .vscode/settings.json
  apps/content-server/wrangler.toml
  apps/image-generation/src/infra/services/random-words.ts
  apps/image-generation/wrangler.toml
  apps/trpfrog.net/src/app/(home)/_cards/BlogCard.tsx
  apps/trpfrog.net/src/app/ai-icons/IconRecord.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/image-uploader-section.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/twitter-card-section.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/writing-tools/writing-tools-panel.tsx
  apps/trpfrog.net/src/app/blog/_components/LiteArticleCard/index.tsx
  apps/trpfrog.net/src/components/utils/Mermaid.tsx
  apps/trpfrog.net/src/hooks/useBrowserEvent.ts
  packages/utils/src/deps-resolver.ts
Due: prettier, eslint

chore: use oxlint
  apps/admin/package.json
  apps/content-server/package.json
  apps/dev-blog-server/package.json
  apps/image-generation/package.json
  apps/trpfrog.net/package.json
  lefthook.yml
  package.json
  packages/constants/package.json
  packages/posts/package.json
  packages/storybook-theme/package.json
  packages/utils/package.json
  run-eslint-from-filename.mjs
  turbo.json
Due: prettier

chore: remove eslint config
  apps/admin/eslint.config.mjs
  apps/content-server/eslint.config.mjs
  apps/dev-blog-server/eslint.config.mjs
  apps/image-generation/eslint.config.mjs
  apps/trpfrog.net/eslint.config.mjs
  packages/config-eslint/.oxlintrc.json
  packages/config-eslint/base.mjs
  packages/config-eslint/index.mjs
  packages/config-eslint/lib/next-core-web-vitals.mjs
  packages/config-eslint/next.mjs
  packages/config-eslint/package.json
  packages/config-eslint/react.mjs
  packages/constants/eslint.config.mjs
  packages/posts/eslint.config.mjs
  packages/storybook-theme/eslint.config.mjs
  packages/utils/eslint.config.mjs
Due: prettier

fix: fix lint error
  apps/image-generation/src/domain/services/getRefreshedImageUpdateStatus.test.ts
  apps/image-generation/src/usecases/generatePromptFromWordsUseCase.test.ts
  apps/image-generation/src/usecases/shouldUpdateUseCase.test.ts
  apps/trpfrog.net/src/app/(home)/_cards/FavoritesCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/SkillCard.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TwitterImage/index.test.tsx
  apps/trpfrog.net/src/components/utils/TweetWrapper/index.tsx
  apps/trpfrog.net/src/components/wrappers/A.tsx
  apps/trpfrog.net/src/lib/date.test.ts
  apps/trpfrog.net/src/markdown/code-block-components/definitions/conversation/parse.test.ts
  packages/utils/src/date.ts
  packages/utils/src/defineEndpoints.test.ts
  packages/utils/src/deps-resolver.ts
  packages/utils/src/object.test.ts
Due: prettier, eslint

chore: drop storybook
  .gitignore
  README.md
  apps/trpfrog.net/.oxlintrc.json
  apps/trpfrog.net/.storybook/main.ts
  apps/trpfrog.net/.storybook/manager.ts
  apps/trpfrog.net/.storybook/preview.ts
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/app/(home)/_components/TrpFrogAnimation/RotateButton.stories.tsx
  apps/trpfrog.net/src/app/blog/_components/LiteArticleCard/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/Alert/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/AnglePicker/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/ButtonWithTooltip/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/CircleButton/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/Details/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/ErrorFallback/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/FoggedDiv/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/HoverScrollBox/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/RichButton/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/Talk/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/WaveText/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TweetTextarea/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TwitterIcon/index.stories.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TwitterImage/index.stories.tsx
  apps/trpfrog.net/src/components/molecules/Block/index.stories.tsx
  apps/trpfrog.net/src/components/molecules/CodeBlock/index.stories.tsx
  apps/trpfrog.net/src/components/molecules/LoadingBlock/index.stories.tsx
  apps/trpfrog.net/src/components/molecules/ShowAll/index.stories.tsx
  apps/trpfrog.net/src/components/molecules/TwitterHeader/index.stories.tsx
  apps/trpfrog.net/src/components/organisms/TwitterArchived/index.stories.tsx
  apps/trpfrog.net/tsconfig.json
  packages/config-oxlint/base.json
  packages/config-oxlint/next.json
  packages/storybook-theme/.oxlintrc.json
  packages/storybook-theme/package.json
  packages/storybook-theme/theme.ts
  packages/storybook-theme/tsconfig.json
  pnpm-workspace.yaml
Due: prettier, eslint

chore: remove eslint packages
  apps/admin/package.json
  package.json
  packages/constants/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,css,scss,md,json}
  eslint: any of: *.{js,ts,jsx,tsx}
