Repository TrpFrog/trpfrog.net: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --ignore-unknown --write {staged_files} && git update-index --again

eslint:
  run: node run-eslint-from-filename.mjs {staged_files} && git update-index --again

chore: update oxfmt and oxlint
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: vitest.*.mjs => vitest.*.ts
  apps/content-server/vitest.config.ts
  apps/image-generation/vitest.config.ts
  apps/trpfrog.net/vitest.config.ts
  apps/trpfrog.net/vitest.setup.ts
  packages/config-vitest/package.json
  packages/config-vitest/vitest.shared.ts
  packages/posts/vitest.config.ts
  packages/utils/vitest.config.ts
Due: prettier, eslint

fix: type errors in test files
  apps/image-generation/src/usecases/refreshImageIfStaleUseCase.test.ts
  apps/trpfrog.net/src/components/atoms/Alert/index.test.tsx
  apps/trpfrog.net/src/components/atoms/Alert/index.tsx
  apps/trpfrog.net/src/components/atoms/Details/index.test.tsx
  apps/trpfrog.net/src/components/atoms/FoggedDiv/index.test.tsx
  apps/trpfrog.net/src/components/atoms/Talk/index.test.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TwitterIcon/index.test.tsx
  apps/trpfrog.net/src/components/molecules/ShowAll/index.test.tsx
  apps/trpfrog.net/src/components/molecules/TwitterHeader/index.test.tsx
  apps/trpfrog.net/src/components/organisms/TwitterArchived/index.test.tsx
  apps/trpfrog.net/src/lib/queue.test.ts
  apps/trpfrog.net/tsconfig.json
  packages/config-typescript/base.json
Due: prettier, eslint

feat(admin): add Mantine notifications support
  apps/admin/package.json
  apps/admin/src/app/layout.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

feat(ui): add toast notifications for async failures
  apps/admin/src/app/ai-icons/AllImages.tsx
  apps/admin/src/app/ai-icons/CurrentImage.tsx
  apps/admin/src/app/blog/RevalidatePostButton.tsx
  apps/admin/src/app/revalidate/RevalidateButton.tsx
  apps/trpfrog.net/src/app/(home)/_cards/AICard/IconFrame.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/hooks/useDevServerRenderedBlog.tsx
  apps/trpfrog.net/src/app/icon-maker/IconMakerApp.tsx
  apps/trpfrog.net/src/components/utils/Mermaid.tsx
Due: prettier, eslint

refactor(posts): simplify footnote index loops
  packages/posts/src/core/preprocess.ts
Due: prettier, eslint

test(hooks): add vitest helpers to useRandom tests
  apps/trpfrog.net/src/hooks/useRandom.ts
Due: prettier, eslint

refactor(markdown): clarify trusted useEffect code prop
  apps/trpfrog.net/src/markdown/code-block-components/definitions/use-effect/MarkdownUseEffect.tsx
  apps/trpfrog.net/src/markdown/code-block-components/definitions/use-effect/index.tsx
Due: prettier, eslint

chore(tooling): switch editor and hooks to oxc tooling
  .vscode/extensions.json
  .vscode/settings.json
  lefthook.yml
Due: prettier

chore(test): switch vitest shared config to relative import
  apps/content-server/vitest.config.ts
  apps/image-generation/vitest.config.ts
  apps/trpfrog.net/vitest.config.ts
  packages/posts/vitest.config.ts
  packages/utils/vitest.config.ts
Due: prettier, eslint

fix(test): resolve lint warnings and stabilize utils tests
  apps/content-server/vitest.config.ts
  apps/trpfrog.net/src/app/(home)/_components/TopCard.tsx
  apps/trpfrog.net/src/hooks/useBrowserEvent.ts
  apps/trpfrog.net/src/markdown/code-block-components/definitions/define-component.tsx
  apps/trpfrog.net/tools/addImageSizeToArticle.ts
  packages/posts/src/core/buildBlogPost.ts
  packages/utils/src/defineEndpoints.test.ts
Due: prettier, eslint

chore(lint): add import-x plugin and enforce import order
  apps/trpfrog.net/.oxlintrc.json
  package.json
  patches/README.md
  patches/eslint-plugin-import-x@4.16.1.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

refactor: fix import order
  apps/trpfrog.net/src/components/atoms/Alert/index.test.tsx
  apps/trpfrog.net/src/components/atoms/Details/index.test.tsx
  apps/trpfrog.net/src/components/atoms/FoggedDiv/index.test.tsx
  apps/trpfrog.net/src/components/atoms/Talk/index.test.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TwitterIcon/index.test.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TwitterImage/index.test.tsx
  apps/trpfrog.net/src/components/molecules/ShowAll/index.test.tsx
  apps/trpfrog.net/src/components/molecules/TwitterHeader/index.test.tsx
  apps/trpfrog.net/src/components/organisms/TwitterArchived/index.test.tsx
  apps/trpfrog.net/src/lib/date.test.ts
  apps/trpfrog.net/src/lib/queue.test.ts
  apps/trpfrog.net/vitest.config.ts
Due: prettier, eslint

chore(lint): add eslint-core plugin and restricted exports rule
  apps/content-server/src/index.ts
  apps/content-server/src/ssg.ts
  apps/dev-blog-server/src/dev-server.ts
  apps/image-generation/src/index.ts
  apps/trpfrog.net/src/types/mdx.d.ts
  package.json
  packages/config-oxlint/base.json
  packages/config-oxlint/js-plugins/eslint-core.cjs
  packages/config-oxlint/next.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

refactor: run oxlint auto-fix
  apps/admin/src/app/layout.tsx
  apps/admin/src/env.ts
  apps/content-server/vitest.config.ts
  apps/dev-blog-server/src/env.ts
  apps/image-generation/vitest.config.ts
  apps/trpfrog.net/src/env/server.ts
  packages/config-vitest/vitest.shared.ts
  packages/posts/vitest.config.ts
  packages/utils/src/defineEndpoints.ts
  packages/utils/vitest.config.ts
Due: prettier, eslint

chore(deps): add TypeScript ESLint plugins and update configurations
  package.json
  packages/config-oxlint/base.json
  packages/config-oxlint/js-plugins/eslint-core.cjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: update dependencies for oxfmt and oxlint packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(lint): move import ordering from import-x to oxfmt
  .oxfmtrc.json
  apps/trpfrog.net/.oxlintrc.json
  package.json
  packages/config-oxlint/base.json
  packages/config-oxlint/next.json
  patches/README.md
  patches/eslint-plugin-import-x@4.16.1.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore(lint): replace some js rules with Oxlint native node rules
  apps/admin/src/env.ts
  apps/dev-blog-server/src/env.ts
  apps/trpfrog.net/src/env/server.ts
  package.json
  packages/config-oxlint/README.md
  packages/config-oxlint/base.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

chore(typegen): standardize type generation tasks across workspace
  apps/admin/package.json
  apps/content-server/package.json
  apps/image-generation/package.json
  apps/image-generation/worker-configuration.d.ts
  apps/trpfrog.net/package.json
  package.json
  turbo.json
Due: prettier, eslint

fix(ci): run typegen before lint-fix in workflow
  .github/workflows/node.js.yml
Due: none

chore(deps): tighten dependency overrides and refresh lockfile
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update eslint and typescript-eslint dependencies to latest versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: broken ci
  apps/content-server/bin/add-export-to-worker-conf.sh
  apps/image-generation/bin/add-export-to-worker-conf.sh
  package.json
  pnpm-lock.yaml
Due: prettier

chore(ci): prepare image-generation vars before typegen
  .github/workflows/node.js.yml
  apps/image-generation/.dev.vars.example
  apps/image-generation/worker-configuration.d.ts
Due: prettier, eslint

chore: update next-mdx-remote to version 6.0.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: Add AGENTS.md
  AGENTS.md
Due: prettier

chore: Add commit message skills
  .codex/skills/commit-conventions/SKILL.md
  .codex/skills/commit-conventions/agents/openai.yaml
Due: prettier

chore: update Next.js and React
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: lint error
  apps/content-server/src/asset-client.ts
  apps/trpfrog.net/src/app/blog/_components/ArticleCard/ArticleTitle/index.tsx
Due: prettier, eslint

feat(image-generation): schedule daily icon updates
  apps/image-generation/src/app.ts
  apps/image-generation/src/controller/index.test.ts
  apps/image-generation/src/env.ts
  apps/image-generation/src/index.test.ts
  apps/image-generation/src/index.ts
  apps/image-generation/src/scheduled.ts
  apps/image-generation/wrangler.toml
Due: prettier, eslint

refactor(ui): remove manual AI icon refresh
  apps/trpfrog.net/src/app/(home)/_cards/AICard/AICard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/AICard/IconFrame.tsx
  apps/trpfrog.net/src/app/(home)/_cards/AICard/actions.ts
  apps/trpfrog.net/src/app/ai-icons/page.tsx
Due: prettier, eslint

fix(ui): link AI icon models by provider
  apps/trpfrog.net/src/app/ai-icons/IconRecord.tsx
Due: prettier, eslint

feat(image-generation): update image generation logic to check if generated today and remove stale logic
  apps/image-generation/src/controller/index.test.ts
  apps/image-generation/src/domain/entities/stale.ts
  apps/image-generation/src/lib/stale.test.ts
  apps/image-generation/src/lib/stale.ts
  apps/image-generation/src/usecases/shouldUpdateUseCase.test.ts
  apps/image-generation/src/usecases/shouldUpdateUseCase.ts
Due: prettier, eslint

test(image-generation): silence noisy console output in tests
  apps/image-generation/src/test-utils/mockConsole.ts
  apps/image-generation/src/usecases/generateImageUseCase.test.ts
  apps/image-generation/src/usecases/refreshImageIfStaleUseCase.test.ts
Due: prettier, eslint

test(image-generation): scope console mocks to error cases
  apps/image-generation/src/usecases/generateImageUseCase.test.ts
Due: prettier, eslint

style(image-generation): format generate image test
  apps/image-generation/src/usecases/generateImageUseCase.test.ts
Due: prettier, eslint

chore(deps): upgrade vitest to 4.0.18
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,css,scss,md,json}
  eslint: any of: *.{js,ts,jsx,tsx}
