Repository TrpFrog/trpfrog.net: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,jsx,tsx,css,scss,md,json}"
      run: npx prettier --ignore-unknown --write {staged_files} && git update-index --again
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: node run-eslint-from-filename.mjs {staged_files} && git update-index --again

Allow using process.env.NODE_ENV
  apps/admin/src/app/blog/actions.ts
  apps/admin/src/atom/origin.ts
  apps/admin/src/clientEnv.ts
  apps/dev-blog-server/client.ts
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
  apps/trpfrog.net/src/app/blog/_components/ArticleHeader.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/actions/generateAltTextOnServer.ts
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/actions/uploadToCloudinaryOnServer.ts
  apps/trpfrog.net/src/app/blog/_components/EditButton.tsx
  apps/trpfrog.net/src/app/blog/rpc.ts
  apps/trpfrog.net/src/markdown/RenderMarkdown/createCodeComponent.tsx
  apps/trpfrog.net/src/markdown/code-block-components/definitions/define-component.tsx
  apps/trpfrog.net/src/markdown/code-block-components/definitions/twitter-archived/index.tsx
  packages/config-eslint/base.mjs
  packages/posts/src/core/preprocess.ts
Due: prettier, eslint

Migrate to valibot v1 beta and hono/standard-validator
  apps/content-server/package.json
  apps/content-server/src/alpha-router.ts
  apps/image-generation/package.json
  apps/image-generation/src/controller/query.ts
  apps/image-generation/src/controller/update.ts
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/app/api/[[...route]]/_routes/budoux.ts
  apps/trpfrog.net/src/app/api/[[...route]]/_routes/revalidate.ts
  package.json
  pnpm-lock.yaml
Due: prettier, eslint

Add standard-schema parser to utils package
  .cursor/rules/typescript.mdc
  apps/admin/src/app/ai-icons/actions.ts
  apps/admin/src/env.ts
  apps/image-generation/src/controller/query.ts
  apps/image-generation/src/domain/entities/generation-result.ts
  apps/image-generation/src/infra/repos/imageUpdateStatusRepoCloudflareKV.ts
  apps/image-generation/src/infra/services/random-words.ts
  apps/image-generation/src/usecases/generatePromptFromWordsUseCase.ts
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/app/(home)/_cards/WorksCard.tsx
  apps/trpfrog.net/src/app/ai-icons/actions.ts
  apps/trpfrog.net/src/app/ai-icons/hooks.ts
  apps/trpfrog.net/src/app/balloon/BalloonApp.tsx
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/actions/renderBlog.tsx
  apps/trpfrog.net/src/app/blog/actions.ts
  apps/trpfrog.net/src/app/docs/[slug]/page.tsx
  apps/trpfrog.net/src/app/download/page.tsx
  apps/trpfrog.net/src/app/links/loader.ts
  apps/trpfrog.net/src/app/works/page.tsx
  apps/trpfrog.net/src/env/server.ts
  apps/trpfrog.net/src/lib/fetchFont.ts
  apps/trpfrog.net/src/lib/mdLoader.ts
  apps/trpfrog.net/src/markdown/code-block-components/definitions/define-component.tsx
  apps/trpfrog.net/src/markdown/code-block-components/definitions/profile-cards/index.tsx
  apps/trpfrog.net/src/markdown/code-block-components/definitions/twitter-archived/generateTwitterArchiveProps.ts
  apps/trpfrog.net/src/prisma/seed.ts
  apps/trpfrog.net/tools/addImageSizeToArticle.ts
  apps/trpfrog.net/tools/createTweetBlock.ts
  packages/posts/package.json
  packages/posts/src/core/buildBlogPost.ts
  packages/posts/src/core/search.ts
  packages/posts/src/preview/index.ts
  packages/posts/src/time/computeReadTimeSecondFrom.ts
  packages/utils/package.json
  packages/utils/src/defineEndpoints.ts
  packages/utils/src/index.ts
  packages/utils/src/validator.ts
  pnpm-lock.yaml
Due: prettier, eslint

Add JSDoc
  packages/utils/src/validator.ts
Due: prettier, eslint

Add InferSchemaInput, InferSchemaOutput
  .cursor/rules/typescript.mdc
  apps/admin/src/app/ai-icons/actions.ts
  apps/image-generation/src/domain/entities/generation-result.ts
  apps/image-generation/src/domain/entities/image-update-status.ts
  apps/image-generation/src/domain/repos/image-metadata-repo.ts
  apps/trpfrog.net/src/app/ai-icons/actions.ts
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/actions/generateAltTextOnServer.ts
  apps/trpfrog.net/src/app/blog/actions.ts
  apps/trpfrog.net/src/app/links/loader.ts
  apps/trpfrog.net/src/app/works/schema.ts
  apps/trpfrog.net/src/markdown/code-block-components/definitions/define-component.tsx
  apps/trpfrog.net/src/markdown/code-block-components/definitions/profile-cards/ProfileCards.tsx
  apps/trpfrog.net/src/prisma/seed.ts
  apps/trpfrog.net/tools/addImageSizeToArticle.ts
  apps/trpfrog.net/tools/createTweetBlock.ts
  packages/posts/src/core/blogPost.ts
  packages/posts/src/core/buildBlogPost.ts
  packages/posts/src/core/search.ts
  packages/posts/src/preview/index.ts
  packages/posts/src/time/computeReadTimeSecondFrom.ts
  packages/utils/src/defineEndpoints.ts
  packages/utils/src/validator.ts
Due: prettier, eslint

Add ESLint rules to restrict Valibot methods usage
  packages/config-eslint/base.mjs
Due: none

chore: update remaining app dependencies
  apps/admin/package.json
  apps/content-server/package.json
  apps/dev-blog-server/package.json
  apps/image-generation/package.json
  apps/trpfrog.net/package.json
  package.json
  packages/config-eslint/package.json
  packages/posts/package.json
  packages/storybook-theme/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier

chore: update deps and adjust typings
  apps/admin/package.json
  apps/content-server/package.json
  apps/dev-blog-server/package.json
  apps/image-generation/package.json
  apps/trpfrog.net/package.json
  package.json
  packages/config-eslint/package.json
  packages/posts/package.json
  packages/storybook-theme/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier

Apply catalog codemod
  apps/admin/package.json
  apps/content-server/package.json
  apps/dev-blog-server/package.json
  apps/image-generation/package.json
  apps/trpfrog.net/package.json
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/posts/package.json
  packages/storybook-theme/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Align conflicting library versions and migrate to pnpm catalog
  apps/admin/package.json
  apps/content-server/package.json
  apps/dev-blog-server/package.json
  apps/image-generation/package.json
  apps/trpfrog.net/package.json
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/config-vitest/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Revert unintended changes
  pnpm-workspace.yaml
Due: none

Update modules
  apps/admin/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Uninstall recharts
  apps/admin/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Revert libraries with major version upgrades
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Bump up react-player to 3.3.1
  apps/trpfrog.net/src/markdown/code-block-components/definitions/youtube/InnerYouTube.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

Enable React Compiler
  apps/admin/next.config.ts
  apps/admin/package.json
  apps/trpfrog.net/next.config.ts
  apps/trpfrog.net/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

Add muted prop to InnerAutoYouTube ReactPlayer component
  apps/trpfrog.net/src/markdown/code-block-components/definitions/youtube/InnerYouTube.tsx
Due: prettier, eslint

Refactor CodeBlock component and related files for improved language handling and parsing
  apps/trpfrog.net/src/components/molecules/CodeBlock/index.tsx
  apps/trpfrog.net/src/components/molecules/CodeBlock/language-code.ts
  apps/trpfrog.net/src/components/molecules/CodeBlock/language-display-names.ts
  apps/trpfrog.net/src/components/molecules/CodeBlock/normalizeLangName.ts
  apps/trpfrog.net/src/components/molecules/CodeBlock/parse-lang-and-filename.ts
  apps/trpfrog.net/src/markdown/RenderMarkdown/createCodeComponent.tsx
  apps/trpfrog.net/vitest.config.mjs
Due: prettier, eslint

Bump up shiki and @shikijs/transformers
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Remove unused extractPrefixes and isValidLanguage tests from CodeBlock test suite
  apps/trpfrog.net/src/components/molecules/CodeBlock/index.test.tsx
Due: prettier, eslint

Fix `no-header:` prefix not working
  apps/trpfrog.net/src/markdown/RenderMarkdown/createCodeComponent.tsx
Due: prettier, eslint

Bump up vitest to 3.2.4
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix test
  apps/trpfrog.net/src/app/(home)/_components/TrpFrogAnimation/__snapshots__/RotateButton.test.tsx.snap
  apps/trpfrog.net/src/app/(home)/_components/TrpFrogAnimation/useRpmCalculation.test.ts
  apps/trpfrog.net/src/app/(home)/_components/TrpFrogAnimation/useRpmCalculation.ts
  apps/trpfrog.net/src/components/atoms/Alert/__snapshots__/index.test.tsx.snap
  apps/trpfrog.net/src/components/atoms/FoggedDiv/__snapshots__/index.test.tsx.snap
  apps/trpfrog.net/src/components/atoms/twitter/TweetTextarea/index.test.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TweetTextarea/index.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TwitterIcon/__snapshots__/index.test.tsx.snap
  apps/trpfrog.net/src/components/molecules/CodeBlock/__snapshots__/index.test.tsx.snap
  apps/trpfrog.net/src/components/molecules/ShowAll/__snapshots__/index.test.tsx.snap
  apps/trpfrog.net/src/components/molecules/TwitterHeader/__snapshots__/index.test.tsx.snap
  apps/trpfrog.net/src/components/organisms/TwitterArchived/__snapshots__/index.test.tsx.snap
  apps/trpfrog.net/vitest.setup.mjs
  packages/config-vitest/vitest.shared.mjs
Due: prettier, eslint

Fix parseObjectList
  packages/posts/src/parser/rawTextParser.ts
Due: prettier, eslint

Suppress error logs in image-generation tests
  apps/image-generation/src/usecases/generateImageUseCase.test.ts
  apps/image-generation/src/usecases/refreshImageIfStaleUseCase.test.ts
  apps/image-generation/src/usecases/uploadNewImageUseCase.test.ts
Due: prettier, eslint

Update CI workflow and Vitest configuration for improved testing and coverage reporting
  .github/workflows/node.js.yml
  packages/config-vitest/vitest.shared.mjs
Due: none

Update Vitest dependencies to version 3.2.4 in pnpm-lock and pnpm-workspace configurations
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add timezone environment variable for Vitest coverage testing
  .github/workflows/node.js.yml
Due: none

Migrate from deprecated `workspace` to `projects`
  vitest.config.ts
  vitest.workspace.ts
Due: prettier, eslint

Bump up chokidar to 4.0.3
  apps/dev-blog-server/dev-server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

Bump up font awesome packages
  apps/trpfrog.net/src/app/(home)/_components/TrpFrogAnimation/__snapshots__/RotateButton.test.tsx.snap
  apps/trpfrog.net/src/components/atoms/Alert/__snapshots__/index.test.tsx.snap
  apps/trpfrog.net/src/components/molecules/CodeBlock/__snapshots__/index.test.tsx.snap
  apps/trpfrog.net/src/components/molecules/TwitterHeader/__snapshots__/index.test.tsx.snap
  apps/trpfrog.net/src/components/organisms/TwitterArchived/__snapshots__/index.test.tsx.snap
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Bump up shiki, twemoji/api, vite
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Bump up testing-library/{dom,react}
  apps/trpfrog.net/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Bump up use-sound
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix balloon sound not playing
  apps/trpfrog.net/src/app/balloon/BalloonApp.tsx
  apps/trpfrog.net/src/app/balloon/_components/Balloon/index.tsx
  apps/trpfrog.net/src/app/balloon/_components/BalloonArray/index.tsx
Due: prettier, eslint

Defer Storybook and Tailwind CSS updates
  pnpm-workspace.yaml
Due: none

Use happy-dom instead of jsdom
  apps/trpfrog.net/next.config.ts
  apps/trpfrog.net/package.json
  apps/trpfrog.net/tools/createTweetBlock.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

Bump up lru-cache to 11.1.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix import path for loadDefaultJapaneseParser in budoux.ts
  apps/trpfrog.net/src/app/api/[[...route]]/_routes/budoux.ts
Due: prettier, eslint

Remove pnpm overrides from package.json
  package.json
Due: prettier
