Repository TrpFrog/trpfrog.net: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,jsx,tsx,css,scss,md,json}"
      run: npx prettier --ignore-unknown --write {staged_files} && git update-index --again
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: node run-eslint-from-filename.mjs {staged_files} && git update-index --again

Bump up eslint related modules and fix eslint errors
  apps/trpfrog.net/src/components/atoms/twitter/TweetTextarea/index.test.tsx
  apps/trpfrog.net/src/components/molecules/CodeBlock/index.test.tsx
  apps/trpfrog.net/src/components/molecules/CodeBlock/index.tsx
  apps/trpfrog.net/src/components/molecules/CodeBlock/language-code.ts
  apps/trpfrog.net/src/components/molecules/CodeBlock/parse-lang-and-filename.ts
  apps/trpfrog.net/src/components/utils/Mermaid.tsx
  apps/trpfrog.net/src/env/client.ts
  apps/trpfrog.net/src/markdown/RenderMarkdown/createCodeComponent.tsx
  apps/trpfrog.net/src/markdown/code-block-components/definitions/youtube/InnerYouTube.tsx
  apps/trpfrog.net/src/markdown/code-block-components/index.tsx
  apps/trpfrog.net/vitest.setup.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

Enhance CI workflow: add caching for pnpm store, pre-fetch dependencies, and improve linting checks
  .github/workflows/node.js.yml
Due: none

Bump up framer-motion as motion to 12.23.12
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/components/organisms/Header/useHeaderStatus.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

Bump up ai-sdk
  apps/trpfrog.net/src/app/fuzzy/[input]/route.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

Bump up several modules and remove vercel/kv
  apps/trpfrog.net/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Postpone bump up of huggingface/inference due to serverless inference API spec change
  pnpm-workspace.yaml
Due: none

Stop tracking Wrangler types in Git and generate on postinstall
  apps/content-server/.gitignore
  apps/content-server/bin/add-export-to-worker-conf.sh
  apps/content-server/package.json
  apps/content-server/src/env.ts
  apps/content-server/worker-configuration.d.ts
  apps/image-generation/.gitignore
  apps/image-generation/bin/add-export-to-worker-conf.sh
  apps/image-generation/package.json
  apps/image-generation/src/env.ts
  apps/image-generation/worker-configuration.d.ts
Due: prettier, eslint

Bump up wrangler to 4.28.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Bump up prisma to 6.13.0
  apps/trpfrog.net/package.json
  apps/trpfrog.net/prisma.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

Bump up mantine to 8.2.4
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Bump up vite, hono/vite-ssg
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Format files
  apps/trpfrog.net/src/app/(home)/_cards/BlogCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/WorksCard.tsx
  apps/trpfrog.net/src/app/ai-icons/IconRecord.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/actions/uploadToCloudinaryOnServer.ts
  apps/trpfrog.net/src/app/blog/_components/LiteArticleCard/index.tsx
  apps/trpfrog.net/src/markdown/code-block-components/definitions/twitter-archived/index.tsx
Due: prettier, eslint

Format css
  apps/trpfrog.net/src/components/atoms/AnglePicker/index.module.css
  apps/trpfrog.net/src/styles/variables.css
Due: prettier

Revert "Stop tracking Wrangler types in Git and generate on postinstall"
  apps/content-server/.gitignore
  apps/content-server/bin/add-export-to-worker-conf.sh
  apps/content-server/package.json
  apps/content-server/src/env.ts
  apps/content-server/worker-configuration.d.ts
  apps/image-generation/.gitignore
  apps/image-generation/bin/add-export-to-worker-conf.sh
  apps/image-generation/package.json
  apps/image-generation/src/env.ts
  apps/image-generation/worker-configuration.d.ts
Due: prettier, eslint

Set wrangler to 3.105.0
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Fix build error
  apps/trpfrog.net/src/app/api/[[...route]]/_routes/budoux.ts
  apps/trpfrog.net/src/components/organisms/LinkCard/ServerStreamLinkCard.tsx
Due: prettier, eslint

Add BlogPageNumber and its schema
  packages/posts/src/core/blogPost.ts
  packages/posts/src/core/index.ts
Due: prettier, eslint

Add tryOr, tryOrElse
  packages/utils/src/index.ts
  packages/utils/src/try-or.ts
Due: prettier, eslint

Add commonly used constants for BlogPageNumber
  packages/posts/src/core/blogPost.ts
  packages/posts/src/core/index.ts
Due: prettier, eslint

💥 BlogPost: Change `currentPage` type from `number` to `BlogPageNumber` and remove `isAll` property
  apps/content-server/src/alpha-router.ts
  apps/trpfrog.net/src/app/blog/_components/ArticleSidebar.tsx
  apps/trpfrog.net/src/app/blog/_components/PageNavigation.tsx
  apps/trpfrog.net/src/app/blog/_components/TogglePageViewLink.tsx
  apps/trpfrog.net/src/app/docs/[slug]/page.tsx
  apps/trpfrog.net/src/markdown/code-block-components/definitions/next-page.tsx
  packages/posts/src/core/blogPost.ts
  packages/posts/src/core/buildBlogPost.ts
  packages/posts/src/core/preprocess.ts
  packages/posts/src/preview/index.ts
Due: prettier, eslint

Remove dead code
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/hooks/useDevServerRenderedBlog.tsx
Due: prettier, eslint

💥 Change args of buildBlogPost
  apps/content-server/src/alpha-router.ts
  packages/posts/src/core/buildBlogPost.ts
  packages/utils/src/valibot.ts
Due: prettier, eslint

Replace custom page number definitions with BlogPageNumber
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
  apps/trpfrog.net/src/app/blog/[slug]/layout.tsx
  apps/trpfrog.net/src/app/blog/_components/ArticleSidebar.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/DevBlogMarkdown.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/actions/renderBlog.tsx
  apps/trpfrog.net/src/app/blog/_components/DevBlogMarkdown/hooks/useDevServerRenderedBlog.tsx
  apps/trpfrog.net/src/app/blog/preview/[...slug]/page.tsx
  apps/trpfrog.net/src/app/blog/rpc.ts
  apps/trpfrog.net/src/markdown/code-block-components/README.md
  packages/posts/src/core/preprocess.ts
Due: prettier, eslint

Add test for generateStaticParams in blog
  apps/content-server/vitest.config.mjs
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.test.tsx
Due: prettier, eslint

Add JSDoc
  packages/utils/src/valibot.ts
Due: prettier, eslint

Format code
  apps/content-server/vitest.config.mjs
Due: none

Fix test
  apps/trpfrog.net/vitest.config.mjs
Due: none

Fix Internal Server Error when accessing non-existent page number
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
Due: prettier, eslint

Add serveBlogMarkdownMiddleware
  apps/trpfrog.net/src/app/blog/serve-blog-markdown-middleware.ts
  apps/trpfrog.net/src/middleware.ts
  packages/posts/src/core/blogPost.ts
  packages/posts/src/core/buildBlogPost.ts
  packages/posts/src/preview/index.ts
Due: prettier, eslint

Import BlogPageNumberSchema from relative path to resolve build issues in edge
  apps/trpfrog.net/src/app/blog/serve-blog-markdown-middleware.ts
Due: prettier, eslint

Bump up modules
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Update next-env.d.ts
  apps/trpfrog.net/next-env.d.ts
Due: prettier, eslint

Use Node.js Middleware
  apps/trpfrog.net/src/app/blog/serve-blog-markdown-middleware.ts
  apps/trpfrog.net/src/lib/hono-middleware.ts
  apps/trpfrog.net/src/middleware.ts
Due: prettier, eslint

Use Route Props Helpers
  apps/admin/next.config.ts
  apps/admin/src/app/layout.tsx
  apps/trpfrog.net/src/app/(gallery)/icons/[id]/page.tsx
  apps/trpfrog.net/src/app/(gallery)/stickers/[id]/page.tsx
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
  apps/trpfrog.net/src/app/blog/[slug]/layout.tsx
  apps/trpfrog.net/src/app/blog/[slug]/og-image/route.tsx
  apps/trpfrog.net/src/app/blog/layout.tsx
  apps/trpfrog.net/src/app/blog/preview/[...slug]/page.tsx
  apps/trpfrog.net/src/app/blog/validate-path.ts
  apps/trpfrog.net/src/app/docs/[slug]/page.tsx
  apps/trpfrog.net/src/app/fuzzy/[input]/route.ts
  apps/trpfrog.net/src/app/fuzzy/layout.tsx
  apps/trpfrog.net/src/app/layout.tsx
  apps/trpfrog.net/src/app/legal/layout.tsx
  apps/trpfrog.net/src/app/music/layout.tsx
Due: prettier, eslint

Revert "Import BlogPageNumberSchema from relative path to resolve build issues in edge"
  apps/trpfrog.net/src/app/blog/serve-blog-markdown-middleware.ts
Due: prettier, eslint

Fix test
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
Due: prettier, eslint

Ignore `next-env.d.ts` in ESLint
  packages/config-eslint/next.mjs
Due: none

Fix build error
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.test.tsx
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
Due: prettier, eslint

Add type-fest
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Replace Omit utility type with type-fest's Except
  apps/trpfrog.net/src/app/blog/_components/ArticleCard/ArticleTitle/index.tsx
  apps/trpfrog.net/src/app/blog/_components/ArticleCard/TagBar/index.tsx
  apps/trpfrog.net/src/app/blog/_components/ArticleHeader.tsx
  apps/trpfrog.net/src/app/blog/_components/EntryButtons.tsx
  apps/trpfrog.net/src/components/atoms/AnglePicker/index.tsx
  apps/trpfrog.net/src/components/atoms/Details/index.tsx
  apps/trpfrog.net/src/components/atoms/Image.tsx
  apps/trpfrog.net/src/components/atoms/RichButton/index.tsx
  apps/trpfrog.net/src/components/atoms/WaveText/index.tsx
  apps/trpfrog.net/src/components/atoms/twitter/TweetTextarea/index.tsx
  apps/trpfrog.net/src/components/molecules/CodeBlock/PlainCodeBlock.tsx
  apps/trpfrog.net/src/components/molecules/CodeBlock/index.tsx
  apps/trpfrog.net/src/components/organisms/LinkCard/LinkCard.tsx
  apps/trpfrog.net/src/components/organisms/LinkCard/SkeletonLinkCard.tsx
  apps/trpfrog.net/src/components/organisms/TwitterArchived/index.tsx
  apps/trpfrog.net/src/components/utils/CldImageWrapper.tsx
  apps/trpfrog.net/src/hooks/useTooltip.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/utils/src/deps-resolver.ts
  packages/utils/src/hono.ts
Due: prettier, eslint
