Repository TrpFrog/trpfrog.net: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --ignore-unknown --write {staged_files} && git update-index --again

eslint:
  run: node run-eslint-from-filename.mjs {staged_files} && git update-index --again

Remove invalid types
  packages/config-typescript/hono.json
Due: prettier

Uninstall husky
  package.json
  pnpm-lock.yaml
Due: prettier

Update deps
  package.json
  pnpm-lock.yaml
Due: prettier

Refactor endpoints into func and make accept NODE_ENV
  apps/image-generation/src/client.ts
  apps/trpfrog.net/src/app/(home)/_cards/AICard/IconFrame.tsx
  apps/trpfrog.net/src/app/api/[[...route]]/_routes/trpfrog-diffusion.ts
  apps/trpfrog.net/src/app/api/client.ts
  packages/constants/endpoints.ts
Due: prettier, eslint

Change Random Word API to Rando
  apps/image-generation/src/trpfrog-diffusion/fetchRandomWords.ts
Due: prettier, eslint

Add admin page
  apps/image-generation/package.json
  apps/image-generation/src/devPage.tsx
  apps/image-generation/src/index.ts
Due: prettier, eslint

Change prompt and model
  apps/image-generation/src/trpfrog-diffusion/generateRandomPrompt.ts
Due: prettier, eslint

Set turborepo ui configuration to tui
  .vscode/settings.json
  turbo.json
Due: prettier

Handle breaking changes in better-typescript-lib
  apps/trpfrog.net/src/app/blog/[slug]/og-image/route.tsx
  apps/trpfrog.net/src/app/blog/_components/OriginalMarkdownComponent.tsx
  apps/trpfrog.net/src/hooks/useFullscreen.ts
Due: prettier, eslint

Prevent type checks on adminApp from external apps
  apps/image-generation/src/app.ts
  apps/image-generation/src/client.ts
  apps/image-generation/src/devPage.tsx
  apps/image-generation/src/index.ts
  apps/image-generation/src/trpfrog-diffusion/generateNew.ts
  apps/image-generation/src/trpfrog-diffusion/schema.ts
Due: prettier, eslint

Use getSingletonHighlighter instead of deprecated getHighlighter
  apps/trpfrog.net/src/components/molecules/CodeBlock/index.tsx
Due: prettier, eslint

Opt into the previous Client Router Cache behavior
  apps/trpfrog.net/next.config.mjs
Due: none

Use const NODE_ENV instead of clientEnv.NODE_ENV
  apps/trpfrog.net/src/app/(home)/_cards/AICard/IconFrame.tsx
  apps/trpfrog.net/src/app/api/client.ts
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/_components/EditButton.tsx
  apps/trpfrog.net/src/env/client.ts
  apps/trpfrog.net/src/lib/constants.ts
Due: prettier, eslint

Add missing font settings for blog title
  apps/trpfrog.net/src/app/blog/_components/ArticleHeader/index.tsx
Due: prettier, eslint

Fix endpoint for twemoji from maxcdn to jsdelivr
  apps/trpfrog.net/src/app/blog/_components/Tag/index.tsx
Due: prettier, eslint

Change logo size in README.md
  README.md
Due: prettier

Update deps
  apps/trpfrog.net/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

Set the JSON formatter for VSCode explicitly
  .vscode/settings.json
Due: prettier

Support ESM
  apps/image-generation/package.json
  apps/trpfrog.net/postcss.config.js
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/config-typescript/base.json
  packages/config-typescript/nextjs.json
  packages/config-typescript/package.json
  packages/config-vitest/package.json
  packages/constants/package.json
  packages/posts/package.json
  packages/posts/src/core/index.ts
  packages/storybook-theme/package.json
  packages/utils/package.json
Due: prettier, eslint

Add useScrollPosition
  apps/trpfrog.net/src/hooks/useScrollPosition.ts
Due: prettier, eslint

Use useSyncExternalStore in useWindowSize
  apps/trpfrog.net/src/hooks/useWindowSize.ts
Due: prettier, eslint

Update eslint
  package.json
  packages/config-eslint/package.json
  pnpm-lock.yaml
Due: prettier

Add patch for eslint-plugin-react-hooks
  packages/config-eslint/lib/next-core-web-vitals.mjs
Due: none

Add useBrowserEvent
  apps/trpfrog.net/src/hooks/useBrowserEvent.ts
Due: prettier, eslint

Add useDragEvent
  apps/trpfrog.net/src/components/atoms/AnglePicker/index.tsx
  apps/trpfrog.net/src/components/atoms/DivWithDragEvent.tsx
  apps/trpfrog.net/src/hooks/useDragEvent.ts
Due: prettier, eslint

Refactor useHeaderStatus
  apps/trpfrog.net/src/components/organisms/Header/useHeaderStatus.ts
Due: prettier, eslint

Add useSyncExternalStoreForObject
  apps/trpfrog.net/src/hooks/useScrollPosition.ts
  apps/trpfrog.net/src/hooks/useSyncExternalStoreForObject.ts
  apps/trpfrog.net/src/hooks/useWindowSize.ts
Due: prettier, eslint

Enable the use of window and document in useDragEvent
  apps/trpfrog.net/src/hooks/useBrowserEvent.ts
  apps/trpfrog.net/src/hooks/useDragEvent.ts
  apps/trpfrog.net/src/hooks/useScrollPosition.ts
Due: prettier, eslint

dayjs => date-fns
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/app/blog/_components/ArticleCard/index.tsx
  apps/trpfrog.net/src/app/blog/_components/LiteArticleCard/index.tsx
  apps/trpfrog.net/src/app/blog/_components/PostAttributes/index.tsx
  apps/trpfrog.net/src/app/blog/_components/article-parts/ProfileCards/index.tsx
  apps/trpfrog.net/src/app/blog/_components/article-parts/TwitterArchive/generateTwitterArchiveProps.ts
  apps/trpfrog.net/src/app/blog/page.tsx
  apps/trpfrog.net/src/app/tweets/TweetCard/index.tsx
  apps/trpfrog.net/src/app/tweets/page.tsx
  apps/trpfrog.net/src/app/works/page.tsx
  apps/trpfrog.net/src/lib/date.ts
  apps/trpfrog.net/tools/createTweetBlock.ts
  pnpm-lock.yaml
Due: prettier, eslint

Update toolchains
  package.json
  pnpm-lock.yaml
Due: prettier

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Upgrade to Next.js 15 RC 2
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/app/(gallery)/icons/[id]/page.tsx
  apps/trpfrog.net/src/app/(gallery)/stickers/[id]/page.tsx
  apps/trpfrog.net/src/app/(home)/_cards/BalloonCard/useResizableBalloonArray.tsx
  apps/trpfrog.net/src/app/(home)/_cards/BlogCard.tsx
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
  apps/trpfrog.net/src/app/blog/[slug]/og-image/route.tsx
  apps/trpfrog.net/src/app/blog/preview/[...slug]/page.tsx
  apps/trpfrog.net/src/app/blog/tags/[tag]/page.tsx
  apps/trpfrog.net/src/app/environment/GadgetIntro.tsx
  apps/trpfrog.net/src/app/fuzzy/[input]/route.ts
  apps/trpfrog.net/src/app/icon-maker/iconMaker.ts
  apps/trpfrog.net/src/app/icon-maker/iconMakerHooks.ts
  apps/trpfrog.net/src/app/tweets/page.tsx
  apps/trpfrog.net/src/components/atoms/AnglePicker/index.tsx
  apps/trpfrog.net/src/components/atoms/HoverScrollBox/useHoverScrollBoxEvent.ts
  apps/trpfrog.net/src/components/molecules/ShowAll/usePixelValueFromCSSLength.ts
  apps/trpfrog.net/src/hooks/useBrowserEvent.ts
  apps/trpfrog.net/src/hooks/useScrollPositionKeeper.ts
  apps/trpfrog.net/src/lib/wordSplit/index.tsx
  apps/trpfrog.net/src/types/mdx.d.ts
  pnpm-lock.yaml
Due: prettier, eslint

Resolve next-codemod-error
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
Due: prettier, eslint

Update next-env.d.ts
  apps/trpfrog.net/next-env.d.ts
Due: prettier, eslint

Fix lint error
  apps/trpfrog.net/src/lib/mdLoader.ts
Due: prettier, eslint

Update ESLint plugins
  .prettierignore
  apps/trpfrog.net/src/app/(home)/_cards/AboutMeCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/BelongingCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/EnvironmentCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/StickersCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/StoreCard.tsx
  apps/trpfrog.net/src/app/environment/GadgetIntro.tsx
  apps/trpfrog.net/src/app/fuzzy/[input]/route.ts
  apps/trpfrog.net/src/components/atoms/FoggedDiv/index.tsx
  apps/trpfrog.net/src/components/atoms/Image.tsx
  apps/trpfrog.net/src/components/atoms/PlainBlock.tsx
  apps/trpfrog.net/src/components/organisms/Header/SiteNameWithIcon.tsx
  apps/trpfrog.net/src/components/organisms/LinkCard/LinkCard.tsx
  apps/trpfrog.net/src/components/organisms/MobileMenu/MobileMenu.tsx
  apps/trpfrog.net/src/components/organisms/Navigation.tsx
  packages/config-eslint/base.mjs
  packages/config-eslint/package.json
  pnpm-lock.yaml
Due: prettier, eslint

Add composeFunctions / pipeFunctions
  packages/utils/src/composeFn.test.ts
  packages/utils/src/composeFn.ts
  packages/utils/src/index.ts
Due: prettier, eslint

next.config.mjs => next.config.ts
  apps/trpfrog.net/next.config.ts
Due: prettier, eslint

Resolve TypeError caused by Async Request API
  apps/trpfrog.net/src/app/(gallery)/icons/[id]/page.tsx
  apps/trpfrog.net/src/app/(gallery)/stickers/[id]/page.tsx
  apps/trpfrog.net/src/app/blog/[slug]/[[...options]]/page.tsx
  apps/trpfrog.net/src/app/blog/[slug]/og-image/route.tsx
  apps/trpfrog.net/src/app/blog/preview/[...slug]/page.tsx
  apps/trpfrog.net/src/app/blog/tags/[tag]/page.tsx
  apps/trpfrog.net/src/app/fuzzy/[input]/route.ts
Due: prettier, eslint

Update React Compiler
  apps/trpfrog.net/package.json
  pnpm-lock.yaml
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,css,scss,md,json}
  eslint: any of: *.{js,ts,jsx,tsx}
