Repository TrpFrog/trpfrog.net: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,jsx,tsx,css,scss,md,json}"
      run: npx prettier --ignore-unknown --write {staged_files} && git update-index --again
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: node run-eslint-from-filename.mjs {staged_files} && git update-index --again

chore: Update next-env.d.ts
  apps/trpfrog.net/next-env.d.ts
Due: prettier, eslint

chore: Cache CodeBlock to avoid build error
  apps/trpfrog.net/src/components/molecules/CodeBlock/index.tsx
Due: prettier, eslint

chore: Update Next.js to v16.0.3
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: Add arkregex
  package.json
  pnpm-lock.yaml
Due: prettier

chore(git): ignore next-env.d.ts
  .gitignore
  apps/trpfrog.net/next-env.d.ts
Due: prettier, eslint

fix(navigation): add suspense boundary for usePathname
  apps/trpfrog.net/src/components/organisms/Header/KawaiiLogo.tsx
  apps/trpfrog.net/src/components/organisms/Navigation/index.ts
  apps/trpfrog.net/src/components/organisms/Navigation/navigation-links.ts
  apps/trpfrog.net/src/components/organisms/Navigation/navigation.tsx
  apps/trpfrog.net/src/components/organisms/Navigation/types.ts
  apps/trpfrog.net/src/components/organisms/Navigation/utils.ts
Due: prettier, eslint

fix(wordSplit): remove TypeScript error suppression for unsupported CSS property
  apps/trpfrog.net/src/lib/wordSplit/index.tsx
Due: prettier, eslint

fix(kawaii-logo): add suspense boundary for usePathname
  apps/trpfrog.net/src/app/layout.tsx
  apps/trpfrog.net/src/components/organisms/Header/Header.tsx
  apps/trpfrog.net/src/components/organisms/Header/KawaiiLogo.tsx
  apps/trpfrog.net/src/components/organisms/Header/SiteName.tsx
  apps/trpfrog.net/src/components/organisms/Header/SiteNameWithIcon.tsx
Due: prettier, eslint

test(snapshot): update tooltip ID format in CodeBlock snapshot
  apps/trpfrog.net/src/components/molecules/CodeBlock/__snapshots__/index.test.tsx.snap
Due: none

chore: update next and react to latest versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: set minimumReleaseAge
  pnpm-workspace.yaml
Due: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: override vulnerable packages
  package.json
  pnpm-lock.yaml
Due: prettier

chore(gray-matter): patch for js-yaml vulnerability
  package.json
  patches/gray-matter@4.0.3.patch
  pnpm-lock.yaml
Due: prettier

chore: move turbo version to package.json for Vercel compatibility
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: remove unnecessary utility class for text styling in AboutMeCard
  apps/trpfrog.net/src/app/(home)/_cards/AboutMeCard.tsx
Due: prettier, eslint

chore: prepare for updating to tailwind v4
  apps/trpfrog.net/package.json
  apps/trpfrog.net/tailwind.config.ts
  packages/config-tailwind/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

chore(tailwind): move version management to pnpm catalog
  apps/admin/package.json
  apps/trpfrog.net/package.json
  packages/config-tailwind/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore(tailwind): correct missed prefix changes from codemod
  apps/trpfrog.net/src/app/(gallery)/_components/ImageViewer.tsx
  apps/trpfrog.net/src/app/(home)/_cards/BlogCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/EnvironmentCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/FavoritesCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/SkillCard.tsx
  apps/trpfrog.net/src/app/ai-icons/IconRecord.tsx
  apps/trpfrog.net/src/app/blog/_components/LiteArticleCard/index.tsx
  apps/trpfrog.net/src/app/music/page.tsx
  apps/trpfrog.net/src/components/atoms/Image.tsx
  apps/trpfrog.net/src/components/atoms/MainWrapper.tsx
  apps/trpfrog.net/src/components/organisms/Header/SiteName.tsx
  apps/trpfrog.net/src/components/organisms/Title.tsx
  apps/trpfrog.net/src/components/utils/Mermaid.tsx
Due: prettier, eslint

chore(tailwind): update renamed utility classes for v4
  apps/trpfrog.net/src/app/(home)/_cards/AICard/IconFrame.tsx
  apps/trpfrog.net/src/app/(home)/_cards/AboutMeCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/BalloonCard/BalloonCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/BlogCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/FavoritesCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/SkillCard.tsx
  apps/trpfrog.net/src/app/(home)/_cards/SocialCards.tsx
  apps/trpfrog.net/src/app/(home)/_cards/WorksCard.tsx
  apps/trpfrog.net/src/app/(home)/_styles/cardButtonStyle.ts
  apps/trpfrog.net/src/components/atoms/Image.tsx
  apps/trpfrog.net/src/components/molecules/Hamburger.tsx
  apps/trpfrog.net/src/components/organisms/LinkCard/Hostname.tsx
  apps/trpfrog.net/src/components/organisms/LinkCard/LinkCard.tsx
  apps/trpfrog.net/src/components/utils/Mermaid.tsx
  apps/trpfrog.net/src/components/wrappers/Kbd.tsx
Due: prettier, eslint

chore(tailwind): remove config-tailwind package, taiwlind.config.ts and update config for v4
  apps/trpfrog.net/package.json
  apps/trpfrog.net/src/app/globals.css
  apps/trpfrog.net/src/app/layout.tsx
  apps/trpfrog.net/src/components/organisms/Header/Header.tsx
  apps/trpfrog.net/tailwind.config.ts
  packages/config-tailwind/README.md
  packages/config-tailwind/package.json
  packages/config-tailwind/tailwind.config.ts
  packages/config-tailwind/tsconfig.json
  pnpm-lock.yaml
Due: prettier, eslint

fix(addTwModifier): update to match Tailwind v4 prefix rules and add tests
  apps/trpfrog.net/src/lib/tailwind/helpers.ts
Due: prettier, eslint

fix: adjust code to comply with Tailwind linter rules
  apps/trpfrog.net/src/app/blog/_components/LiteArticleCard/index.tsx
  apps/trpfrog.net/src/components/atoms/MainWrapper.tsx
Due: prettier, eslint

test: update snapshot to reflect Tailwind v4 class naming conventions
  apps/trpfrog.net/src/components/molecules/CodeBlock/__snapshots__/index.test.tsx.snap
Due: none

chore: update next and react
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: add useRandom hook
  apps/trpfrog.net/src/hooks/useRandom.ts
Due: prettier, eslint

fix(balloons): add fixed seed to balloon randomness to prevent hydration error
  apps/trpfrog.net/src/app/balloon/_components/Balloon/index.tsx
Due: prettier, eslint

fix(balloon): preload balloon animation GIFs to improve performance
  apps/trpfrog.net/src/app/balloon/_components/Balloon/index.tsx
Due: prettier, eslint

refactor(balloon): remove some CSS styles and apply Tailwind CSS classes
  apps/trpfrog.net/src/app/balloon/_components/Balloon/index.module.css
  apps/trpfrog.net/src/app/balloon/_components/Balloon/index.tsx
Due: prettier, eslint

refactor(balloon): remove CSS module and integrate Tailwind CSS for styling
  apps/trpfrog.net/src/app/balloon/_components/Balloon/index.module.css
  apps/trpfrog.net/src/app/balloon/_components/Balloon/index.tsx
Due: prettier, eslint

chore: upgrade happy-dom to version 20.0.11
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: update vitest dependencies to version 4.0.15
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor(balloon): move balloon color constants to a separate file for better organization
  apps/trpfrog.net/src/app/balloon/_components/Balloon/constants.ts
  apps/trpfrog.net/src/app/balloon/_components/Balloon/index.tsx
  apps/trpfrog.net/src/app/balloon/useBalloonState.ts
Due: prettier, eslint

feat(balloon): add PreloadBalloonImages component for image preloading
  apps/trpfrog.net/src/app/(home)/_cards/BalloonCard/useResizableBalloonArray.tsx
  apps/trpfrog.net/src/app/balloon/BalloonApp.tsx
  apps/trpfrog.net/src/app/balloon/_components/Balloon/index.tsx
  apps/trpfrog.net/src/app/balloon/_components/Balloon/preload-balloon-images.tsx
Due: prettier, eslint

refactor(balloons): ensure SSoT by type-checking image paths in Tailwind class names
  apps/trpfrog.net/src/app/balloon/_components/Balloon/constants.ts
  apps/trpfrog.net/src/app/balloon/_components/Balloon/index.tsx
Due: prettier, eslint

fix: add 'node' type to ts configuration for fix type error
  packages/config-typescript/base.json
Due: prettier

test: update snapshot testing descriptions for RotateButton component
  apps/trpfrog.net/src/app/(home)/_components/TrpFrogAnimation/RotateButton.test.tsx
  apps/trpfrog.net/src/app/(home)/_components/TrpFrogAnimation/__snapshots__/RotateButton.test.tsx.snap
Due: prettier, eslint
